paddleocr==2.7.3
paddlepaddle==3.1.1
easyocr==1.7.1
opencv-python==4.6.0.66
numpy==1.26.4
Pillow
shapely
scikit-image
pyclipper
lmdb
tqdm
rapidfuzz
visualdl
google-generativeai
watchdog
pymupdf
python-docx
python-dotenv
pymongo
fastapi
uvicorn[standard]
python-multipart
